*{
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,900&display=swap');
    font-family: 'Roboto', sans-serif;
}
:root {
    --blue: #0060E5;
    --grey: #2D3440;
    --bg: #161A20;
    --hover2: #575D66;
    --hover: #2E7BE5;
  }

body{
    height:100vh;
    color:white;
    background:black;
}

header{
    width:40%;
    margin:auto;
    margin-bottom:20px;
}
header p {
    text-align:justify;
    letter-spacing: 0.5px;
    /* text-indent: 50px; */
}
.container-1 .hasil-bmi{
    font-size:2.8rem;
    font-weight:400;
}
.container{
    width:40%;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction:column;
    background-color: var(--bg);
    margin:auto;
    padding:20px;
    padding-right:25px;
    border-radius:10px;
}
.container .gender-group{
    display:flex;
    align-items:center;
    margin-bottom:10px;
}

.container .gender-group .gender{
    font-size:1.1rem;
    font-weight:600;
}
.container .title{
    font-size:1.5rem;
    text-align:center;
    font-weight:800;
    width:100%;
}

.container span{
    font-size:1.1rem;
    font-weight:600;
    margin-top:10px;
    margin-bottom:10px;
}
.container .gender-title{
    font-size:1.1rem;
    font-weight:600;
}
.container input{
    width: 98%;
    height:30px;
    font-size:1.1rem;
    margin-right:10px;
    border-radius:5px;
    padding:5px;
    padding-left:10px;
    color:var(--grey);
    border:none;
}

.container .btn-group{
    display:flex;
    width:100%;
    gap:10px;
}

.container .submit{
    margin-top:20px;
    font-size:1.1rem;
    height:40px;
    color:white;
    box-sizing: border-box;
    background-color: var(--blue);
    border-radius:5px;
    padding:10px;
    border:none;
}
.container .submit:hover {
    transition:ease-in-out 300ms;
    background-color: var(--hover);
}

.container .reset{
    margin-top:20px;
    font-size:1.1rem;
    padding:10px;
    height:40px;
    color:black;
    box-sizing: border-box;
    background-color: var(--grey);
    color:white;
    border-radius:5px;
    border:none;
}
.container .reset:hover{
    transition:ease-in-out 300ms;
    background-color: var(--hover2);
}

.btn-primary, .btn-print{
    background-color:var(--blue);
    color:white;
    border-radius:5px;
    padding:10px;
    border:none;
}
.btn-print:hover{
    transition:ease-in-out 300ms;
    background-color: var(--hover);
}
.btn-primary:hover{
    transition:ease-in-out 300ms;
    background-color: var(--hover);
}
.btn-primary a{
    text-decoration:none;
    color:white;
}
.btn-primary-2 a{
    text-decoration:none;
    color:white;
}

.container2{
    width:40%;
    margin:auto;
}
.container2 p{
    text-align:justify;
    letter-spacing: 0.5px;
}
.container-hasil{
    display:none;
    width:40%;
    margin:auto;
    padding:20px;
}
.container-hasil .container-1 p{
    text-align:center;
}
.container-2{
    text-align:justify;
    letter-spacing: 0.5px;
}
.container-2 .btn-group{
    width:100%;
    display:flex;
    justify-content:center;
    gap:10px;
}
.container-2 .btn-group .btn-primary-2{
    background-color:var(--blue);
    color:white;
    border-radius:5px;
    padding:10px;
    border:none;
}

.container-2 .btn-group .btn-primary-2:hover{
    transition:ease-in-out 300ms;
    background-color: var(--hover);
}

.container-3, .container-1{
    width:80%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-color:var(--bg);
    margin:auto;
    padding:10px;
    border-radius:10px;
    
}
.container-3{
    display:none;
}
.container-3 .content{
    text-align:center;

}
.container-3 ul{
    padding-right:30px;
    display:flex;
    flex-direction:column;
    list-style-type:none;
    text-align:center;
}
.container-3 .btn-group{
    display:flex;
    margin-top:10px;
    justify-content:center;
    align-items:center;
    width:100%;
    gap:10px;
    height:30px;
    margin-top:30x;
    margin-bottom:10px;
}

